tempest==35.0.0
# parts
python-tempestconf==3.4.0
# plugins
barbican-tempest-plugin==2.0.0
blazar-tempest-plugin==0.10.1
cinder-tempest-plugin==1.9.0
cloudkitty-tempest-plugin==2.7.1
cyborg-tempest-plugin==2.1.0
designate-tempest-plugin==0.19.0
ec2api-tempest-plugin==1.6.1
freezer-tempest-plugin==3.0.1
glance-tempest-plugin==0.6.0
heat-tempest-plugin==1.7.1
ironic-tempest-plugin==2.6.1
keystone-tempest-plugin==0.12.0
kuryr-tempest-plugin==0.15.0
magnum-tempest-plugin==2.0.0
manila-tempest-plugin==1.13.0
mistral-tempest-tests==2.1.1
monasca-tempest-plugin==2.6.0
murano-tempest-plugin==2.6.0
neutron-tempest-plugin==2.4.0
octavia-tempest-plugin==2.4.0
oswin-tempest-plugin==2.1.0
sahara-tests==0.16.0
senlin-tempest-plugin==1.7.1
solum-tempest-plugin==2.6.0
telemetry-tempest-plugin==1.10.0
trove-tempest-plugin==2.1.0
venus-tempest-plugin==3.0.0
vitrage-tempest-plugin==6.1.1
watcher-tempest-plugin==2.6.0
zaqar-tempest-plugin==1.6.0
zun-tempest-plugin==4.7.1
