on:
  workflow_call:
    inputs:
      openstack-release:
        description: OpenStack release
        type: string
        required: true

jobs:
  update-snapcraft:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: stable/${{ inputs.openstack-release }}
      - name: Install tox
        run: |
          sudo apt-get update
          sudo apt-get install --yes tox
      - name: Update Snapcraft Yaml
        id: update_snapcraft
        run: |
          tox -e release -- -o snap/snapcraft.yaml -r ${{ inputs.openstack-release }}
          git diff --exit-code snap/snapcraft.yaml \
          && echo "create_pr=0" >> $GITHUB_OUTPUT \
          || echo "create_pr=1" >> $GITHUB_OUTPUT
      - name: Create Pull Request
        if: ${{ steps.update_snapcraft.outputs.create_pr == 1 }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config user.name "Github Action Bot"
          git config user.email "<>"
          git checkout -B release/${{ inputs.openstack-release }}
          git add snap/snapcraft.yaml
          git commit -m "release(${{ inputs.openstack-release }}): update snapcraft.yaml"
          git push -f origin release/${{ inputs.openstack-release }}
          gh pr create \
            -B stable/${{ inputs.openstack-release }} \
            -H release/${{ inputs.openstack-release }} \
            -f || true
